<div class="container">
    <h1><%= @superhero.name %></h1>
    <br>
    <ul class='list-group'>
        <li class='list-group-item'><h5>Superpowers</h5></li>
        <li class='list-group-item'>
            <ul class="list-group">
            <% @superhero.superpowers.each do |superpower| %>
                <li class="list-group-item list-group-item-light">
                    <%= superpower.name %>
                </li>
            <% end %>
            </ul>
        </li>
        </ul>
</div>